.flat-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flat-profile {
  margin: 20px;
}

.flat-booking {
  margin: 20px;
}

.flat-description {

}

.flat-profile-img {
  width: 80px;

}
